@import '../../styles/variables.scss';

.communication {
  .icon {
    border-radius: 100%;
    padding: 13px;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
  }

  .messengers {
    background: $LIGHT_EMERALD;

    &.active,
    &:hover {
      opacity: 0.8;
    }
  }

  .overlay-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .telegramm {
      background: $TELEGRAMM_ICON_COLOR;

      &:hover {
        background: $TELEGRAMM_ICON_LIGHT_COLOR;
      }

      svg {
        transform: rotate(-45deg) translate(3px);
      }
    }

    .whatsapp {
      background: $WHATSAPP_ICON_COLOR;

      &:hover {
        background: $WHATSAPP_ICON_LIGHT_COLOR;
      }
    }
  }
}
