@import '../../styles/variables.scss';

.faq {
  width: $WIDTH;
  display: flex;
  justify-content: center;
  background-color: $BACKGROUNG_COLOR_MAIN;
  padding-bottom: 60px;

  .content {
    width: $WIDTH_CUT;

    .title {
      padding: 15px 0;
      font-size: $FONT_SIZE_HEADER;
    }

    .description {
      font-size: $FONT_SIZE_CARD_DESCRIPTION;
      white-space: break-spaces;
    }

    .collapse {
      border-bottom: 1px solid #000000;

      :global(.ant-collapse-header-text) {
        font-size: 24px;
      }
    }
  }
}