$WIDTH: 100%;
$WIDTH_CUT: 1080px;

$SIZE_CARD_HEADER: 40px;

/*
 * COLORS
 */
$TELEGRAMM_ICON_COLOR: #2ba0d9;
$TELEGRAMM_ICON_LIGHT_COLOR: #32bafc;
$WHATSAPP_ICON_COLOR: #21a013;
$WHATSAPP_ICON_LIGHT_COLOR: #29d117;
$BACKGROUNG_COLOR_MAIN: #94c8d6;

$DARK_RED: #960f16;
$EMERALD: #012e33;
$LIGHT_EMERALD: #35838d;

/*
 * FONT SIZE
 */
$FONT_SIZE_HEADER: 32px;
$FONT_SIZE_CARD_HEADER: 24px;
$FONT_SIZE_CARD_DESCRIPTION: 16px;