.main {
  display: flex;
  width: 100%;
  margin: 0 !important;
  max-width: 1280px;
  position: relative;

  & > * {
    width: 50%;
  }

  .left-block {
    padding: 0 20px 0 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
      font-size: 55px;
      line-height: 1.1;
      color: inherit;
    }

    .description {
      font-size: 16px;
    }

    .btn {
      width: fit-content;
    }
  }

  .image {
    background-image: url(../../images/main-foto.png);
    height: calc(100vh - 140px);
    background-position: top center;
    background-size: cover;
  }

  @media (max-width: 1024px) {
    .left-block .title {
      font-size: 50px;
    }
    .image {
      height: 80vh;
    }
  }

  @media (max-width: 960px) {
    & > * {
      width: 100%;
    }
    .left-block {
      position: absolute;
      top: 15%;
      bottom: 0;
      color: #ffffff;
      justify-content: space-between;
      flex-direction: row;
    }
    .left-block .title {
      font-size: calc(16px + 20 * (100vw / 1280));
    }
    .left-block .description {
      width: 30%;
    }
    .image {
      height: 60vh;
      width: 100%;
    }
  }
}