@import '../../styles/variables.scss';

.base-merch {
  max-width: $WIDTH;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 100%;
  }

  .content {
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}