@import '../../styles/variables.scss';

.base-merch {
  width: $WIDTH;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: $WIDTH_CUT;
  }

  .content {
    width: $WIDTH_CUT;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}