@import '../../styles/variables.scss';

.how-to-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $WIDTH;

  h1 {
    width: 100%;
  }

  .content {
    width: 100%;
    display: flex;
  }
}